<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Copyright (C) 2013 Stimulus Software & Schlichtherle IT Services.
  - All rights reserved. Use is subject to license terms.
  -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <message-destination-ref>
        <message-destination-ref-name>net.java.trueupdate.manager.javaee.UpdateManagerBean/destination</message-destination-ref-name>
        <message-destination-type>javax.jms.Queue</message-destination-type>
        <mapped-name>jms/TrueUpdate Agent</mapped-name>
        <injection-target>
            <injection-target-class>net.java.trueupdate.manager.javaee.UpdateManagerBean</injection-target-class>
            <injection-target-name>destination</injection-target-name>
        </injection-target>
    </message-destination-ref>
</web-app>
